.side_filters

  = search_form_for @search do |f|
    .field
      = f.label :title_cont, "Title contains"
      = f.text_field :title_cont
    .field
      = f.label :tags_id_eq, "Tag"
      = f.collection_select :tags_id_eq, Tag.order(:name), :id, :name

    .actions= f.submit "Filter", class: "btn"