= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field.controls
    = f.label :title
    = f.text_field :title, class: "span12"
  .field.controls
    = f.label :reference_url
    = f.text_field :reference_url, class: "span12"
  .field.controls
    = f.label :brief
    = f.text_area :brief, rows: 10, class: "span12"
  .field.controls
    = f.label :tags_list
    = render '/shared/tags_field', element: @article
    = hidden_field(:article, :tags_list)

  = render "knowledge_pieces_fields", f: f

  .actions.controls
    = f.submit 'Save', class: "btn btn-success"