%table.index_table
  %tr
    %th Title
    %th Reference url
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.reference_url
      %td= link_to 'Show', article, class: "btn"
      %td= link_to 'Edit', edit_article_path(article), class: "btn"
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn"

%br

= link_to 'New Article', new_article_path, class: "btn"
