- content_for :title do
  Article

%h1
  = @article.title

%p
  %b Brief:
  = @article.brief

%p
  %b
    Tags:
  = raw generate_tag_links(@article.tags)

%p
  %b Reference url:
  = link_to @article.reference_url, @article.reference_url, target: "_blank"

%br

- @article.knowledge_pieces.each do |kp|
  .knowledge_piece
    = raw kp.body.html_safe
  %br

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'List', articles_path