- content_for :title do
  Article

%h1
  = @article.title

%p
  %b Brief:
  = @article.brief

%p
  %b
    Tags:
  = raw generate_tag_links(@article.tags)

- if @article.references.present?
  %p
    %b References:

  %ul
    - @article.references.each do |reference|
      %li
        = link_to reference.url, reference.url, target: "_blank"

%br

- @article.knowledge_pieces.reverse.each do |kp|
  %h2
    = kp.title
  .knowledge_piece
    = raw kp.body.html_safe

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'List', articles_path
