.side_filters

  = search_form_for @search do |f|
    .field
      = f.label :name_cont, "Name contains"
      = f.text_field :name_cont
    .field
      = label_tag :q_ancestors_name_cont, "Ancestor Name contains"
      = text_field_tag "q[ancestors_name_cont]", @search_by_ancestors_name_field_value
    .actions
      = f.submit "Filter", class: "btn"