- content_for :title do
  Tags

- content_for :description do
  This is the tags list.

- content_for :sidebar do
  = render "/tags/filters"

%table.index_table
  %tr
    %th= sort_link(@search, :name, "Name")
    %th.show-column
    %th.edit-column
    %th.destroy-column

  - @tags.each do |tag|
    %tr
      %td
        = tag.unique_name
      %td.show-column.long
        = link_to 'View related content', tag, class: "btn index-table-action"
      %td.edit-column
        = link_to 'Edit', edit_tag_path(tag), class: "btn index-table-action"
      %td.destroy-column
        = link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger index-table-action"

= link_to 'New Tag', new_tag_path, class: "btn"