%table.index_table
  %tr
    %th Name
    %th
    %th
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.name
      %td= link_to 'Show', tag, class: "btn"
      %td= link_to 'Edit', edit_tag_path(tag), class: "btn"
      %td= link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn"

%br

= link_to 'New Tag', new_tag_path, class: "btn btn-danger", :data => { :confirm => 'This will only create root tags. Do you want to continue?' }
