= form_for @knowledge_piece do |f|
  - if @knowledge_piece.errors.any?
    #error_explanation
      %h2= "#{pluralize(@knowledge_piece.errors.count, "error")} prohibited this knowledge_piece from being saved:"
      %ul
        - @knowledge_piece.errors.full_messages.each do |msg|
          %li= msg

  .field.controls
    = f.label :title
    = f.text_field :title, class: "span12"
  .field.controls
    = f.label :body
    = f.text_area :body, rows: 10, class: "span12"
  .field.controls
    = f.label :tags_list
    = f.text_field :tags_list, class: "span12"
  .actions
    = f.submit 'Save', class: "btn btn-success"
