= form_for @knowledge_piece do |f|
  - if @knowledge_piece.errors.any?
    #error_explanation
      %h2= "#{pluralize(@knowledge_piece.errors.count, "error")} prohibited this knowledge_piece from being saved:"
      %ul
        - @knowledge_piece.errors.full_messages.each do |msg|
          %li= msg

  .field.controls
    = f.label :title
    = f.text_field :title, class: "span12"
  .field.controls
    = f.label :body
    = f.text_area :body, rows: 10, class: "span12 codeable"
    %p.hint= "Use Ctrl+C to add an inline code tags snippet, use Ctrl+V for a multiline one."
  .field.controls
    = f.label :tags_list
    = render '/shared/tags_field', element: @knowledge_piece
    = hidden_field(:knowledge_piece, :tags_list)
  .actions
    = f.submit 'Save', class: "btn btn-success"
