- content_for :title do
  Knowledge Piece

%h1
  = @knowledge_piece.title

%br

%p.knowledge_piece
  = @knowledge_piece.body
%p
  %b
    Tags:
  %span
    = @knowledge_piece.tags_list

%br

= link_to 'Edit', edit_knowledge_piece_path(@knowledge_piece)
\|
= link_to 'List', knowledge_pieces_path