- content_for :title do
  Knowledge Piece

%h1
  = @knowledge_piece.title

%br

.knowledge_piece
  = raw @knowledge_piece.body.html_safe

%p
  %b
    Tags:
  - if @knowledge_piece.tags.present?
    = raw generate_tag_links(@knowledge_piece.tags)
  - else
    = "No tags assigned"

%br

= link_to 'Edit', edit_knowledge_piece_path(@knowledge_piece)
\|
= link_to 'List', knowledge_pieces_path