!!!
%html
  %head
    = render 'layouts/head'
  %body
    #container.container
      %header.row-fluid
        = render 'layouts/messages'
        = render 'layouts/header'
      #main.row-fluid{:role => "main"}
        #page_content.span9
          = yield
        #sidebar.span3
          = yield(:sidebar)
      %footer.row-fluid
        = render 'layouts/footer'
